body{
    background-color: lightgrey;
}
h1{
    text-align: center;
    color:blue; 
    font-size: 50px;
}
hr{
    margin-top: 10px;
    border-width: 1.5px;
}

form{
color:brown;
 font-size: 25px;
 font-family:sans-serif;
 font-style: normal;
 margin-inline-start: 120px;
 /* left: 50px; */
 line-height: 45px;
}
input{
    border-radius: 2px;
    border-style:initial;
    width: 20%;
    height: 25px;
    font-size: medium;
    }
       a:hover{
        background-color:rgb(216, 216, 149);
        transition:2s ease all;
        font-size: 30px;

   }
   b{
    font-size: 40px;
   }
   
